# Mechanic.py — direct imports
anthropic==0.84.0
python-dotenv==1.2.2
pillow==12.1.1
requests==2.32.5
faster-whisper==1.2.1
pvporcupine==4.0.2
pvrecorder==1.2.7
PyAudio==0.2.14
langchain-chroma==1.1.0
langchain-ollama==1.0.1

# ingest.py — direct imports
langchain-community==0.4.1
langchain-text-splitters==1.1.1

crawl4ai